@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

/*
.wrapper {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
}
*/
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h2 {
  padding: 32px 0;
  margin: 0;
}

h3,
p {
  margin: 0;
}

h3 {
  padding-top: 8px;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Header*/
.logo {
  font-family: Shrikhand, cursive;
  text-align: center;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
  padding: 5px;
  position: relative;
}

/*Main*/
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: arrierePlan-gris;
  padding: 18px;
}

/*Section*/
.exploration {
  text-align: center;
}
.exploration h1 {
  font-size: 40px;
}
.exploration p {
  font-size: 20px;
}
.exploration button {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 16px;
  border-radius: 32px;
  border: none;
  box-shadow: 2px 1px 16px -3px;
  transition: transforme 200ms;
  margin-top: 16px;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(225, 121, 218, 0.9));
}
.exploration button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*fonctionnement*/
.fonction {
  padding: 0 32px;
  counter-reset: section;
}
.fonction ol {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-left: 20px;
}
.fonction li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 24px 32px;
  flex-grow: 1;
  border-radius: 16px;
  box-shadow: 2px 1px 16px -3px #000;
}
.fonction li ::after {
  content: counter(section);
  counter-increment: section;
  color: white;
  background-color: #9356dc;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: -8px;
  left: -50px;
}
.fonction li ::before {
  color: grey;
}
.fonction li:hover {
  transform: scale(1.02);
  background-color: rgba(146, 86, 221, 0.2);
}
.fonction li:hover ::before {
  color: #9356dc;
}
.fonction li i.fas {
  margin-right: 16px;
  position: relative;
}

/*Restaurants*/
.menu {
  padding: 0 32px;
  background-color: #f6f6f6;
  padding-bottom: 64px;
}
.menu .menu_cartes {
  display: grid;
  grid-template-columns: 1, 1fr;
  gap: 32px;
}
.menu .new {
  position: relative;
}
.menu .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  text-decoration: none;
  color: #1b6150;
  border-radius: 3px;
  display: grid;
  place-items: center;
  right: 16px;
  top: 16px;
}
.menu .cartes_image {
  height: 15rem;
  border-radius: 16px 16px 0 0;
  background-size: cover;
}
.menu .cartes_description {
  padding: 16px;
  position: relative;
  background-color: white;
  border-radius: 0 0 16px 16px;
}
.menu .cartes_description::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  right: 16px;
  top: 50%;
  font-size: 24px;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.menu .cartes_description::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  right: 16px;
  top: 50%;
  font-size: 24px;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, #9356dc, #e179da);
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  position: absolute;
  right: 16px;
  top: 50%;
  font-size: 24px;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.menu .cartes_description:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
.menu .cartes_description h3,
.menu .cartes_description p {
  margin-left: 8px;
}
.menu .cartes_image-1 {
  background-image: url(../../images/restaurant_1.jpg);
}
.menu .cartes_image-2 {
  background-image: url(../../images/restaurant_2.jpg);
}
.menu .cartes_image-3 {
  background-image: url(../../images/restaurant_3.jpg);
}
.menu .cartes_image-4 {
  background-image: url(../../images/restaurant_4.jpg);
}

footer {
  background-color: #353535;
  padding: 16px 32px;
  color: white;
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 400;
  padding: 16px 0;
}
footer i {
  margin-right: 10px;
}
footer p {
  line-height: 1.8em;
}

.images {
  position: absolute;
  width: 100%;
  z-index: -1000;
}
.images img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.restaurant {
  margin-top: 268px;
}
.restaurant h2 {
  position: relative;
  padding: 32px 16px;
  font-family: "shrikhand", "sans-serif";
  background-color: #f6f6f6;
  border-radius: 32px 32px 0 0;
}
.restaurant h2::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  right: 16px;
  top: 50%;
  font-size: 24px;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.restaurant h2::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  right: 16px;
  top: 50%;
  font-size: 24px;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, #9356dc, #e179da);
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  position: absolute;
  right: 16px;
  top: 50%;
  font-size: 24px;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.restaurant h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

.resto-main {
  padding: 0 16px;
  background-color: #f6f6f6;
}

.menu_grid {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
}
.menu_grid .menu_categories {
  border: 1px solid red;
  background-color: white;
}
.menu_grid .menu_categories .menu-items_desciption {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 16px;
}
.menu_grid .menu_categories .menu-items_desciption .prix {
  margin-left: auto;
  font-weight: 900;
}

/*# sourceMappingURL=styles.css.map */
