@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h6,
p {
  padding: 0;
  margin: 0;
}

h3 {
  padding-top: 8px;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Header*/
.logo {
  font-family: Shrikhand, cursive;
  text-align: center;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
  padding: 5px;
  position: relative;
}

/*Main*/
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #eaeaea;
  padding: 16px 0;
}
.localisation input {
  border: none;
  background-color: transparent;
  font-weight: bold;
  width: 25%;
  text-overflow: ellipsis;
}

/*Section*/
.exploration {
  text-align: center;
  margin-bottom: 30px;
  background-color: #f6f6f6;
  padding: 32px 0;
}
.exploration h1 {
  font-size: 40px;
}
.exploration p {
  font-size: 20px;
}
.exploration button {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 16px;
  border-radius: 32px;
  border: none;
  box-shadow: 2px 1px 16px -3px;
  transition: transforme 200ms;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #000;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(225, 121, 218, 0.9));
}
.exploration button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.spinner {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: white;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: desappear 500ms 3s forwards;
  transform-origin: top;
}
.spinner::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #ff79da;
  border-radius: 50%;
  animation: spin 1s ease-in-out;
  animation-iteration-count: 3;
}

@keyframes desappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/*fonctionnement*/
.fonction {
  padding: 0 32px;
  counter-reset: section;
}
.fonction ol {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-left: 20px;
  display: grid;
  gap: 32px;
}
@media screen and (min-width: 800px) {
  .fonction ol {
    grid-template-columns: 1fr 1fr;
  }
}
.fonction li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 24px 32px;
  flex-grow: 1;
  border-radius: 16px;
  box-shadow: 2px 1px 16px -3px #000;
}
.fonction li ::after {
  content: counter(section);
  counter-increment: section;
  color: white;
  background-color: #9356dc;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: -8px;
  left: -50px;
}
.fonction li ::before {
  color: grey;
}
.fonction li:hover {
  transform: scale(1.02);
  background-color: rgba(146, 86, 221, 0.2);
}
.fonction li:hover ::before {
  color: #9356dc;
}
.fonction li i.fas {
  margin-right: 16px;
  position: relative;
}

/*Restaurants*/
.menu {
  padding: 0 32px;
  background-color: #f6f6f6;
  padding-bottom: 64px;
}
.menu .menu_cartes {
  display: grid;
  gap: 32px;
}
@media screen and (min-width: 800px) {
  .menu .menu_cartes {
    grid-template-columns: 1fr 1fr;
  }
}
.menu .new {
  position: relative;
}
.menu .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  text-decoration: none;
  color: #1b6150;
  border-radius: 3px;
  display: grid;
  place-items: center;
  right: 16px;
  top: 16px;
}
.menu .cartes_image {
  height: 15rem;
  border-radius: 16px 16px 0 0;
  background-size: cover;
}
.menu .cartes_description {
  padding: 16px;
  position: relative;
  background-color: white;
  border-radius: 0 0 16px 16px;
}
.menu .cartes_description::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  right: 16px;
  top: 50%;
  font-size: 24px;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.menu .cartes_description::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  right: 16px;
  top: 50%;
  font-size: 24px;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, #9356dc, #e179da);
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  right: 16px;
  top: 50%;
  font-size: 24px;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.menu .cartes_description:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
.menu .cartes_description h3,
.menu .cartes_description p {
  margin-left: 8px;
}
.menu .cartes_image-1 {
  background-image: url(../images/restaurant_1.jpg);
}
.menu .cartes_image-2 {
  background-image: url(../images/restaurant_2.jpg);
}
.menu .cartes_image-3 {
  background-image: url(../images/restaurant_3.jpg);
}
.menu .cartes_image-4 {
  background-image: url(../images/restaurant_4.jpg);
}

footer {
  background-color: #353535;
  padding: 16px 32px;
  color: white;
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 400;
  padding: 16px 0;
}
footer i {
  margin-right: 10px;
}
footer p {
  line-height: 1.8em;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
#fleche-retour::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  left: 16px;
  transform: translateY(50%);
  font-size: 20px;
}

.images {
  position: absolute;
  width: 100%;
  z-index: -1000;
}
.images img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.restaurant {
  margin-top: 268px;
}
.restaurant h2 {
  position: relative;
  padding: 32px 16px;
  font-family: "shrikhand", "sans-serif";
  background-color: #f6f6f6;
  border-radius: 32px 32px 0 0;
}
.restaurant h2::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  right: 16px;
  top: 50%;
  font-size: 24px;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.restaurant h2::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  right: 16px;
  top: 50%;
  font-size: 24px;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, #9356dc, #e179da);
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  right: 16px;
  top: 50%;
  font-size: 24px;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.restaurant h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

.resto-main {
  padding: 0 16px;
  background-color: #f6f6f6;
}

.menu_resto {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
.menu_resto h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
.menu_resto h3::after {
  content: "";
  position: absolute;
  background-color: #99e2d0;
  top: 2.5rem;
  left: 0;
  height: 0.25rem;
  width: 3rem;
}
.menu_resto .menu-items {
  display: grid;
}
@media screen and (min-width: 800px) {
  .menu_resto .menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.menu_resto .menu_categories {
  overflow: hidden;
}
.menu_resto .menu_item {
  background-color: white;
  display: flex;
  overflow: hidden;
  border-radius: 16px;
  margin: 8px;
  box-shadow: 2px 1px 8px -3px #000;
  animation: appear 3s;
  animation-fill-mode: both;
  background-color: white;
  display: flex;
  overflow: hidden;
  border-radius: 16px;
  margin: 8px;
  box-shadow: 2px 1px 8px -3px #000;
  animation: appear 3s;
  animation-fill-mode: both;
  background-color: white;
  display: flex;
  overflow: hidden;
  border-radius: 16px;
  margin: 8px;
  box-shadow: 2px 1px 8px -3px #000;
  animation: appear 3s;
  animation-fill-mode: both;
}
.menu_resto .menu_item:nth-child(1) {
  animation-delay: 100ms;
}
.menu_resto .menu_item .prix {
  margin-left: auto;
  font-weight: 900;
  padding: 16px;
  display: flex;
  align-items: flex-end;
}
.menu_resto .menu_item .menu_item_description {
  padding: 16px;
  overflow: hidden;
}
.menu_resto .menu_item .menu_item_description h4,
.menu_resto .menu_item .menu_item_description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu_resto .menu_item .check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 16px 16px 0;
  background-color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
.menu_resto .menu_item .check i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 1.5rem;
  border-radius: 1rem;
  color: #99e2d0;
}
.menu_resto .menu_item:hover {
  cursor: pointer;
}
.menu_resto .menu_item:hover .check {
  margin-right: 0;
}
.menu_resto .menu_item:hover i {
  animation: quart-tour 0.5s ease-in-out;
}
@keyframes quart-tour {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.menu_resto .menu_item:nth-child(2) {
  animation-delay: 200ms;
}
.menu_resto .menu_item .prix {
  margin-left: auto;
  font-weight: 900;
  padding: 16px;
  display: flex;
  align-items: flex-end;
}
.menu_resto .menu_item .menu_item_description {
  padding: 16px;
  overflow: hidden;
}
.menu_resto .menu_item .menu_item_description h4,
.menu_resto .menu_item .menu_item_description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu_resto .menu_item .check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 16px 16px 0;
  background-color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
.menu_resto .menu_item .check i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 1.5rem;
  border-radius: 1rem;
  color: #99e2d0;
}
.menu_resto .menu_item:hover {
  cursor: pointer;
}
.menu_resto .menu_item:hover .check {
  margin-right: 0;
}
.menu_resto .menu_item:hover i {
  animation: quart-tour 0.5s ease-in-out;
}
@keyframes quart-tour {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.menu_resto .menu_item:nth-child(3) {
  animation-delay: 300ms;
}
.menu_resto .menu_item .prix {
  margin-left: auto;
  font-weight: 900;
  padding: 16px;
  display: flex;
  align-items: flex-end;
}
.menu_resto .menu_item .menu_item_description {
  padding: 16px;
  overflow: hidden;
}
.menu_resto .menu_item .menu_item_description h4,
.menu_resto .menu_item .menu_item_description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu_resto .menu_item .check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 16px 16px 0;
  background-color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
.menu_resto .menu_item .check i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 1.5rem;
  border-radius: 1rem;
  color: #99e2d0;
}
.menu_resto .menu_item:hover {
  cursor: pointer;
}
.menu_resto .menu_item:hover .check {
  margin-right: 0;
}
.menu_resto .menu_item:hover i {
  animation: quart-tour 0.5s ease-in-out;
}
@keyframes quart-tour {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

section.commande {
  height: 30vh;
  display: grid;
  place-items: center;
}
section.commande button {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 16px;
  border-radius: 32px;
  border: none;
  box-shadow: 2px 1px 16px -3px;
  transition: transforme 200ms;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #000;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(225, 121, 218, 0.9));
}
section.commande button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*# sourceMappingURL=styles.css.map */
