footer {
  background-color: #353535;
  padding: 16px 32px;
  color: white;
  h2 {
    font-family: "shrikhand", "sans-serif";
    font-weight: 400;
    padding: 16px 0;
  }
  i {
    margin-right: 10px;
  }
  p {
    line-height: 1.8em;
  }
}
