/*Main*/
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: arrierePlan-gris;
  padding: 18px;
}
/*Section*/
.exploration {
  text-align: center;

  h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
  button {
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to top, #9356dc, #ff79da);
    font-size: 18px;
    padding: 16px;
    border-radius: 32px;
    border: none;
    box-shadow: 2px 1px 16px -3px;
    transition: transforme 200ms;
    margin-top: 16px;
  }
  button:hover {
    transform: scale(1.02);
    opacity: 0.9;
  }
}
/*fonctionnement*/
.fonction {
  counter-reset: section;
  & ol {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  & li {
    position: relative;
    & ::before {
      content: counter(section);
      counter-increment: section;
      color: white;
      background-color: #9356dc;
      width: 32px;
      height: 32px;
      display: grid;
      place-items: center;
      border-radius: 50%;
      position: absolute;
      bottom: -8px;
      left: -50px;
    }
    list-style-type: none;
    background-color: #f6f6f6;
    padding: 24px 32px;
    flex-grow: 1;
    border-radius: 16px;
    box-shadow: 2px 1px 16px -3px #000;
    &:hover {
      transform: scale(1.02);
    }
    & i.fas {
      margin-right: 16px;
      position: relative;
    }
  }
}
/*Restaurants*/
.menu {
  background-color: #f6f6f6;
  & .menu_cartes {
    display: grid;
    grid-template-columns: (1, 1fr);
    gap: 32px;
  }
  .new {
    border: 1px solid red;
    position: relative;
  }
  .new::before {
    content: "Nouveau";
    position: absolute;
    height: 2rem;
    width: 5rem;
    background-color: #99e2d0;
    text-decoration: none;
    color: darken(#99e2d0, 50%);
    border-radius: 3px;
    text-align: center;
  }
  & .cartes {
    &_image {
      height: 15rem;
      border-radius: 2rem;
      background-size: cover;
    }
    @for $i from 1 through 4 {
      &_image-#{$i} {
        background-image: url(../../images/restaurant_#{$i}.jpg);
      }
    }
  }
}
