*,
::before,
::after {
  box-sizing: border-box;
}
/*
.wrapper {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
}
*/
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h6,
p {
  padding: 0;
  margin: 0;
}
h3 {
  padding-top: 8px;
}
a {
  text-decoration: none;
  color: inherit;
}
